h1 {
  font-family: "press start 2p", sans-serif;
  text-align: left;
  color: #EADFB4;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-shadow: 4px 4px 0px #000;
}